
body { 

background: linear-gradient(blue, purple, blue);
}
@import url('https://fonts.googleapis.com/css?family=Monoton');
.title {
	
	font-family: "Monoton";
	font-style: cursive;
	color: white;
	font-size: 80px;
}

.item {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 40px;
}

.parent {
  display: flex;
  
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: center;
  align-items: stretch;
}

button.inv {

    background: transparent;
    border: none !important;
}


.child {
	
  flex: 1 200px;
  margin: auto;  /* Magic! */
  text-align:center;
}


img.im1 {
display:block;
width:110px;
margin: 0 auto;
}

img:hover {
	filter: grayscale(20%);

}
